.container {
  gap: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  margin: 1rem;
  width: fit-content;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  background-color: var(--gray-500);
}

header {
  gap: 0.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

h4 {
  font-weight: 400;
}

.status_positive {
  color: var(--green-300);
}

.status_negative {
  color: var(--red-300);
}

.conatiner_info {
  display: flex;
  flex-direction: column;

  width: 45rem;

  max-height: 90vh;
  overflow-y: auto;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-around;

  padding: 1rem 1.5rem;
  border-radius: 0.3rem;
  background-color: var(--gray-400);
}

.info + .info {
  margin-top: 0.5rem;
}
